.navhlink{
    background-color: transparent;
    padding: 4px 3px;
}

.navhlink:hover{
    transform: scale(1.10);
    color: rgb(18, 96, 0);
    border-bottom:1px solid red
}

.navhlink:focus {
    color: rgb(18, 96, 0);
    border-bottom:1px solid red
}