@tailwind base;
@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

html,body{
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body::-webkit-scrollbar{
    width: 0;
}

#event-scroll::-webkit-scrollbar{
  width: 0;
}

#home{
  font-family: 'Roboto Slab', serif;
}

body{
  overflow-x: hidden;
}

.animated-arrows{
    position: relative;
    width: 100%;
    height: 60px;
}

.scroll-down {
  position: absolute;
  bottom: 15px;
  display: block;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 0;
  width: 30px;
  height: 30px;
  border-left: 5px solid #008037;
  border-top: 5px solid #008037;
  z-index: 9;
  margin-left: 49%;
}



.down-1{
  -webkit-animation: fade_move_down 3s ease-in-out infinite;
  -moz-animation:    fade_move_down 3s ease-in-out infinite;
  animation:         fade_move_down 3s ease-in-out infinite;
}

  .down-2{
    -webkit-animation: fade_move_down 6s ease-in-out infinite;
    -moz-animation:    fade_move_down 6s ease-in-out infinite;
    animation:         fade_move_down 6s ease-in-out infinite;
  }
  
  
  /*animated scroll arrow animation*/
  @-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0; }
  }
  @-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0; }
  }
  @keyframes fade_move_down {
    0%   { transform:translate(0,10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,-10px) rotate(45deg); opacity: 0; }
  }

  /* .image-about{
    background-color: #f29f05;
    border-radius: 50%;
  } */



  @media only screen and (max-width: 1024px) {
    .animated-arrows{
      position: relative;
      width: 100%;
      height: 24px;
      margin: 4rem auto 1rem auto;
  }

  .scroll-down {
    position: absolute;
    bottom: 15px;
    display: block;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 0;
    width: 30px;
    height: 30px;
    border-left: 5px solid #008037;
    border-top: 5px solid #008037;
    z-index: 9;
    margin-left: 48.8%;
  }
}

@media only screen and (max-width: 1024px) {
  .scroll-down {
    position: absolute;
    bottom: 15px;
    display: block;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 0;
    width: 30px;
    height: 30px;
    border-left: 5px solid #008037;
    border-top: 5px solid #008037;
    z-index: 9;
    margin-left: 46%;
  }
}

#instagram{
  background-color: white;
  color: black;
}

#instagram:hover{
  padding: 2px;
  background: linear-gradient(to top , #feda75 , #fa7e1e , #d62976 , #962fbf , #4f5bd5);
  border-radius: 10px;
  color: white;
}

#linkedin{
  color: black;
}

#linkedin:hover{
  color: #0077b5;
}

#linkedin-foo{
  color: #0077b5;
}

#instagram-foo{
  padding: 2px;
  background: linear-gradient(to top , #feda75 , #fa7e1e , #d62976 , #962fbf , #4f5bd5);
  border-radius: 10px;
  color: white;
}


#twitter{
  color: #1DA1F2;
}

#facebook{
  color: #4267B2;
}

/* #header{
  background-image: url('./Images/Sample.jpg');
  background-size: cover;
  background-position: top
} */

.rotate {
  animation: rotation 30s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
  
@tailwind utilities;

@font-face {
    font-family: "League Spartan";
    src: url("../src/LeagueSpartan-Bold.otf");
}

@font-face {
    font-family: "Nunito Sans";
    src: url("../src/NunitoSans-Black.ttf");
    font-weight: 900;
}